{% macro header(serviceName) %}
    <header class="govuk-header" id="pins-header" role="banner" data-module="govuk-header">
        <div class="pins-width-container">
            <div class="pins-row">
                <div class="pins-column--left">
                    <div class="pins-header__logo">
                        <i class="pins-header__logo-crown"> </i>
                    </div>
                    <span>Planning Inspectorate</span>
                </div>
                <div class="pins-column--central">
                    <p class="pins-header-casework-portal govuk-!-margin-top-1">
                        {{ serviceName }}
                    </p>
                </div>
            </div>
        </div>
    </header>
{% endmacro %}
