$pins-colours-teal-100: #10847e;
$pins-colours-grey-100: #f3f2f1;

.pins-card {
	margin-bottom: 40px;
	background: $pins-colours-grey-100;
	position: relative;
	width: 100%;

	border-bottom: 4px solid $pins-colours-grey-100;
	border-left: 0;
	border-right: 0;
	border-top: 0;
}

@media (min-width: 40.0625em) {
	.pins-card {
		margin-bottom: 48px;
	}
}

.pins-card__content {
	padding: 24px;
	position: relative;
}

.pins-card__content > *:first-child {
	margin-top: 0;
}

.pins-card__content > *:last-child {
	margin-bottom: 0;
}

@media (min-width: 40.0625em) {
	.pins-card__content {
		padding: 32px;
	}
}

.pins-card__heading,
.pins-card__metadata,
.pins-card__description {
	margin-bottom: 16px;
}

.pins-card--clickable {
	border-bottom-width: 4px;
}

.pins-card--clickable:hover,
.pins-card--clickable:active {
	cursor: pointer;
}

.pins-card--clickable:hover .pins-card__heading a,
.pins-card--clickable:hover .pins-card__link,
.pins-card--clickable:active .pins-card__heading a,
.pins-card--clickable:active .pins-card__link {
	color: $pins-colours-teal-100;
	text-decoration: none;
}

.pins-card--clickable:hover .pins-card__heading a:focus,
.pins-card--clickable:hover .pins-card__link:focus,
.pins-card--clickable:active .pins-card__heading a:focus,
.pins-card--clickable:active .pins-card__link:focus {
	color: #212b32;
}

.pins-card--clickable:hover {
	border-color: #aeb7bd;
}

.pins-card--clickable:active {
	border-color: #aeb7bd;
	bottom: -1px;
}

.pins-card-group {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 16px;
	padding: 0;
}

@media (max-width: 48.0525em) {
	.pins-card-group {
		margin-bottom: 40px;
	}
}

.pins-card-group + h2,
.pins-card-group + .pins-heading-l,
.pins-card-group + h3,
.pins-card-group + .pins-heading-m {
	padding-top: 0;
}

.pins-card-group__item {
	display: flex;
	list-style-type: none;
	margin-bottom: 0;
}

@media (max-width: 48.0525em) {
	.pins-card-group__item {
		flex: 0 0 100%;
	}
}

.pins-card-group__item .pins-card {
	margin-bottom: 32px;
}

@media (max-width: 48.0525em) {
	.pins-card-group__item .pins-card {
		margin-bottom: 16px;
	}

	.pins-card-group__item:last-child .pins-card {
		margin-bottom: 0;
	}
}

.pins-card--teal {
	border-bottom: 4px solid $pins-colours-teal-100;
}
