$font-family: arial, helvetica, sans-serif;

//Main gov styles
@use 'node_modules/govuk-frontend/dist/govuk/index' with (
	// don't use the GDS Transport font, this service is not on GOV.UK
	// https://www.gov.uk/service-manual/design/making-your-service-look-like-govuk#if-your-service-isnt-on-govuk
	$govuk-font-family: $font-family
);
@use './header';
@use './card';

// set font-family for any autocomplete menu items
.autocomplete__menu {
	font-family: $font-family;
}

@media (min-width: 1440px) {
	.pins-container-wide {
		max-width: 1280px;
	}
}

.pins-white-space-pre-wrap {
	white-space: pre-wrap;
}

.status-tag-width {
	max-width: 250px !important;
}

//.pins-card-group {
//  display: flex;
//  flex-wrap: wrap;
//  margin-bottom: 16px;
//  padding: 0;
//}
//
//.pins-card-group__item {
//  display: flex;
//  list-style-type: none;
//  margin-bottom: 0;
//
//  background: rgba(0, 0, 0, 0);
//  border-bottom: 4px solid $pins-colours-teal-100;
//  border-left: 0;
//  border-right: 0;
//  border-top: 0;
//}
